*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color2: #226E80;
}

button{
  background-color: var(--color2);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
button:hover {
  opacity: 0.8;
}
.loginButton{
  float: right;
  width: 89.64px;
}

/*Login Elements Position*/
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  max-height: 200px;
  max-width: 200px;
  min-height: 50px;
  min-width: 50px;
}
.logo:hover{
  opacity: .5;
  cursor: pointer;
}

input[type=text], input[type=password] {
 
  padding: 12px 20px;
  margin: 12px 0;
  display: block;
  border: 1px solid rgb(30, 180, 218);
  box-sizing: border-box;
  opacity: .7;
  border-radius: 2px;
}
input[type=text]:hover, input[type=password]:hover {
  opacity: .8;
}

.formContainer{
  position: relative;
  top:220px;
  text-align: center;
}
.formLogin{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


/*Login Background*/
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
  background-color: white;
  background-image: linear-gradient( #112432,#07161a);
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}