<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>trazabilidad login</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> Aplicación de trazabilidad mediante IOTA y MAM</h1>
    <b>Bienvenido <%= name %></b>
    
    <br>
    
    <form action="/fileupload" method="post" enctype="multipart/form-data">
      <b>Trazabilidad automática de fichero</b>
      <div class="container"></div>
        <div class="upload-btn-wrapper">
          <button class="btn">fichero a trazar</button>
          <input type="file" name="filetoupload" />
        </div>
        <br>
        <input  type="submit" value="Enviar al tangle">
      </div>
    </form>
    
    <form action="/manupload" method="post">
        <b>Trazabilidad manual con hash de activo</b>
        <label for="docID"><b>docID</b></label>
        <input id="docID" type="text" placeholder="ID del documento" name="docID" required>
        <label for="Hash"><b>Hash</b></label>
        <input id="Hash" type="text" placeholder="Hash " name="Hash" required>
        <input  type="submit" value="Enviar al tangle">    
    </form>
    <form action="/retrieve" method="post">
      <b>Recuperación cadena de custodia</b>
      <label for="docID"><b>docID</b></label>
      <input id="docID" type="text" placeholder="ID del documento" name="docID" required>
      
      <input  type="submit" value="Recuperar del tangle">    
  </form>
  <iframe height="600" src=<%= mamExplorerLink %>>
  </iframe>
    
    
  </body>
</html>
